
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  font-size:88px;
  color:white;
  text-align:center;
  background-color:#fcce00;
  opacity:81%;
  margin:0 0 8px;
}

.section-title {
  font-size :38px;
  color:white;
  text-align:center;
  background-color:#ff6b00;
  opacity:81%;
  margin : 0;
  padding:6px;
}

.rectangle3 {
  background-color:#e02020;
  margin :8px 0;
  height :32px;
  opacity:81%;
}

.rectangle4 {
  background-color:#b620e0;
  margin:8px 0;
  height:16px;
  opacity:81%;
}

.rectangle5 {
  background-color:#6236ff;
  margin:8px 0 0;
  height:8px;
  opacity:81%;
}
h2 {
  font-size:40px;
  text-align:center;
  margin-bottom:10px;
}

.content {
  display:flex;
  padding:48px;
  max-width: 1200px;
  margin-right:auto;
  margin-left:auto;
}

.bloc image{
  display:flex;
  margin-right:auto;
}
h3 {
  font-size:24px;
  text-align:center;
}

.p1 {
  font-size:16px;
  text-align:justify;
}

.bloc-image{
  background-image: url(../img/bg-yellow.png);
}

.boutonblanc{
  display:block;
  color:#fcce00;
  font-size:20px;
  text-align:center;
  border-radius : 15px;
  border:solid 4px;
  margin: auto;
  padding:5px;
  width:185px;
  height:48px;
}
h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/