
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
font-size:16px;
  /* Default font size and line height */
}

h1 {
  font-size:88px;
  color:white;
  text-align:center;
  background-color:#fcce00;
  opacity:81%;
  margin:0 0 8px;
}

.section-title{
  font-weight:bold;
}

h2 {
  font-size:40px;
  text-align:center;
  margin-bottom:64px;
  font-weight:bold;
  animation:inherit;
}

h3 {
  font-size:24px;
  text-align:center;
}

h4 {
  font-size:32px;
  margin-top:64px;
  margin-left:60px;
  color:white;
}

.p1 {
  font-size:16px;
  text-align:justify;
  margin-left:33px;
  margin-right:70px;
}

.p2 {
  font-size:24px;
  margin-left:60px;
  color:white;
}

.sub-title2{
  margin-top:60px;
}

.rectangle3 {
  background-color:#e02020;
  margin :8px 0;
  height :32px;
  opacity:81%;
  transition:background-color 1s;
}

.rectangle3:hover{
  background-color:white;
  color:#e02020;
}

.rectangle4 {
  background-color:#b620e0;
  margin:8px 0;
  height:16px;
  opacity:81%;
  transition:background-color 1s;
}

.rectangle4:hover{
  background-color:white;
  color:#b620e0;
}

.rectangle5 {
  background-color:#6236ff;
  margin:8px 0 0;
  height:8px;
  opacity:81%;
  transition:background-color 1s;
}

.rectangle5:hover{
  background-color:white;
  color:#6236ff;
}

.titre-overlay{
  color:hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
}

@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}

.section-title {
  font-size :38px;
  color:white;
  text-align:center;
  background-color:#ff6b00;
  opacity:81%;
  margin : 0;
  padding:6px;
  transition:background-color 1s;
}

.section-title:hover{
  background-color:white;
  color:#ff6b00;
}  

.title{
  transition:background-color 1s;
}

.title:hover{
  background-color:white;
  color:#fcce00;
}


.big-container{
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.big-container2{
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.content, .bloc-image, .content2, .bloc-image2 {
  flex-basis : 320px;
  flex-grow: 1;
} 

.bloc-image{
  background-image:url(../img/bg-yellow.png);
  background-position:left bottom;
  background-size:auto 100%;
  display:flex;
}

@media screen and (max-width:1200px){
  .bloc-image{
    width:100%; 
    height:100%;
  }
}

@media screen and (max-width:1200px){
  .p1{
    font-size:14px;
  }
}

@media screen and (max-width:840px){
  .p1{
    font-size:10px;
  }
}

@media screen and (max-width:1200px){
  .h3{
    font-size:18px;
  }
}

@media screen and (max-width:840px){
  .h3{
    font-size:14px;
  }
}

.image{
  display:block;
  margin-left:auto;
  max-width:70%;
  mix-blend-mode:darken;
  margin-top:40px;
}

.bloc-image2{
  background-image:url(../img/bg-orange.png);
  background-position:right bottom;
  background-size:auto 100%;
  display:flex;
  margin-top:60px;
  margin-bottom:40px;
}

.image2{
  display:block;
  margin-right:auto;
  margin-left:auto;
  max-width:70%;
  mix-blend-mode:darken;
}

.red-container{
  background-image:url(../img/bg-red.png);
  display:flex;
  width:100%;
}

.pink-container{
  background-image:url(../img/bg-blue.png);
  display:flex;
  width:100%;
}

.purple-container{
  background-image:url(../img/bg-violet.png);
  display:flex;
  width:100%;
  padding
}

.red-image, .pink-image, .purple-image{
  display:block;
  mix-blend-mode:darken;
  margin-left:auto;
}

@media screen and (max-width:1200px){
  .red-image, .pink-image, .purple-image{
    width:50%;
  }
}

.boutonblanc1, .boutonblanc2, .boutonblanc3 {
  display:block;
  font-size:20px;
  text-align:center;
  border-radius : 15px;
  border:solid 4px;
  margin: auto;
  padding:5px;
  width:185px;
}

.boutonblanc1:hover {
  transform:scale(1.1);
  transition:transform 0.8s;
}

.boutonblanc2:hover {
  transform:scale(1.1);
  transition:transform .8s;
}

.boutonblanc3:hover {
  transform:scale(1.1);
  transition:transform .8s;
}

.boutonblanc1{
  color:#fcce00;
  margin-right:70px;
  margin-top:30px;
}

.boutonblanc2{
  color:#ff6b00;
  margin-right:70px;
  margin-top:32px;
}

.boutonblanc3{
  color:white;
  margin-left:60px;
  margin-top:32px;
}

.container-releases{
  background-color:#231f20;
}
.liste {
  color:white;
  font-size:40px;
  text-align:center;
  font-weight:bold;
  padding-top:48px;
}
.container-images {
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax 320px);
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:34px;
  padding:20px;
}

@media screen and (max-width:1200px){
  .container-images{
    grid-template-columns:1fr 1fr 1fr;
  }

}

@media screen and (max-width:840px){
  .container-images{
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width:540px){
  .container-images{
    grid-template-columns:1fr;
  }
}

.game{
  position:relative;
  text-align:center;
  
}

.img-game{
max-width:80%;
}

.game-content{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  font-size:14px;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  max-width:80%;
  margin-right:auto;
  margin-left:auto;
  border-radius:4%;
}

.game-content {
  opacity:0;
  transform: translateY(10px);
  transition: 800ms transform ease-in-out, 200ms opacity;
}

.game:hover .game-content{
  opacity: 1;
  transform: translateY(0px);
}

.game-title{
  font-size:32px;
  font-weight:bold;
  color:#fcce00;
  margin-bottom:32px;
}

.game-description{
  font-size:16px;
  color:white;
}

.contact{
  font-size:300%;
  color:white;
  display:block;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
  font-weight:bold;
}

form {
 margin: 0 auto;
 width: 400px;
 padding: 1em;
 border: 1px solid white;
 border-radius: 1em;
}

form div {
 margin-top: 2em;
}

label {
 color:white;
 display: inline-block;
 width: 150px;
 text-align: left;
 font-size:150%;
}

input {
  height:25px;
}

input, textarea {
 font: 1em sans-serif;
 width: 350px;
 box-sizing: border-box;
 border: 1px solid #999;
}

input:focus, textarea:focus {
 border-color: white;
}

textarea {
 vertical-align: top;
 height: 5em;
}

.button {
 padding-left: auto;
 height:3em;
}